include ../date-dropdown/date-dropdown.pug
include ../guests-quantity-dropdown/guests-quantity-dropdown.pug
include ../submit-button/submit-button.pug

mixin booking-card(number, deluxe, price, discount, additional_services_cost)

    .booking-card
        .booking-card__room-description
            .booking-card__room
                p.booking-card__room-number-sign №
                p.booking-card__room-number=number
                -if(deluxe)
                    p.booking-card__room-deluxe=deluxe
            .booking-card__room-price
                p.booking-card__room-price-number(data-roomprice=price)
                p.booking-card__room-price-per-period в сутки
        form(method="get").booking-card__form
            +date-dropdown("прибытие", "выезд", "arrival_date", "leaving_date", "", "", ['2020-08-19','2020-08-23'])
            +guests-quantity-dropdown("гости", "", false, 2, 1)
            //- +submit-button("подобрать номер")
            .booking-card__intermediate-calculations
                p.booking-card__price-and-days-expression
                p.booking-card__intermediate-result
            .booking-card__discount-calculations
                p.booking-card__discount-size(data-discount=discount)
                span.booking-card__discount-info-icon i
                span.booking-card__discount-info-description Здесь объясняется, откуда взялась эта скидка
                p.booking-card__additional-payment-after-discount 0₽
            .booking-card__additional-services-calculations
                p.booking-card__additional-services-text Сбор за дополнительные услуги
                span.booking-card__additional-services-info-icon i
                span.booking-card__additional-services-info-description Здесь объясняется, какие именно это услуги
                p(data-services=additional_services_cost).booking-card__additional-services-cost
            .booking-card__total
                p.booking-card__total-text.text-block_text-style_item-title Итого
                p.booking-card__total-line
                p.booking-card__total-price.text-block_text-style_item-title
            +submit-button("забронировать")