mixin input-field(type, id, placeholder, value, material_icon, preselectedDates)
    input(type=type, id=id, placeholder=placeholder, value=value, data-preselecteddates=preselectedDates).input-field
    if material_icon
        label(for=id).input-field__icon.material-icons=material_icon