include ../element-name/element-name.pug

mixin guests-quantity-dropdown(desc, comment, expanded, adults, children, infants)
    div(data-expanded=expanded).guests-quantity-dropdown
        +element-name(desc, comment)
        .iqdropdown
            -if(!adults) adults = "";
            -if(!children) children = "";
            -if(!infants) infants = "";
            p.iqdropdown-selection
            .iqdropdown-menu
                .iqdropdown-menu-option(data-id="adults" data-defaultcount=`${adults}`)
                    +element-name("взрослые").iqdropdown-item

                .iqdropdown-menu-option(data-id="children" data-defaultcount=`${children}`)
                    +element-name("дети").iqdropdown-item

                .iqdropdown-menu-option(data-id="infants" data-defaultcount=`${infants}`)
                    +element-name("младенцы").iqdropdown-item

                .iqdropdown-menu-option    
                    .action-buttons
                        button(data-id=id).clear-button Очистить
                        button(data-id=id).apply-button Применить